In [11]:
import pandas as pd

In [18]:
df=pd.read_csv("C:/Users/Hairav/Downloads/archive (1)/orders.csv")

#read data from the file and handle null values

In [26]:
df=pd.read_csv("C:/Users/Hairav/Downloads/archive (1)/orders.csv",na_values=["Not Available","unknown"])
df.head(20)
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [28]:
df.head(20)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3
10,11,2023-03-31,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Tables,FUR-TA-10001539,1470,1710,9,3
11,12,2023-12-25,NaN,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002033,750,910,4,3
12,13,2022-02-11,Standard Class,Consumer,United States,Concord,North Carolina,28027,South,Office Supplies,Paper,OFF-PA-10002365,20,20,3,3
13,14,2023-07-18,Standard Class,Consumer,United States,Seattle,Washington,98103,West,Office Supplies,Binders,OFF-BI-10003656,360,410,3,2
14,15,2023-11-09,NaN,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,OFF-AP-10002311,60,70,5,5
15,16,2022-06-18,Standard Class,Home Office,United States,Fort Worth,Texas,76106,Central,Office Supplies,Binders,OFF-BI-10000756,0,0,3,5
16,17,2022-02-04,Standard Class,Consumer,United States,Madison,Wisconsin,53711,Central,Office Supplies,Storage,OFF-ST-10004186,610,670,6,3
17,18,2023-08-04,Second Class,Consumer,United States,West Jordan,Utah,84084,West,Office Supplies,Storage,OFF-ST-10000107,60,60,2,4
18,19,2022-01-23,Second Class,Consumer,United States,San Francisco,California,94109,West,Office Supplies,Art,OFF-AR-10003056,10,10,2,4
19,20,2022-01-11,Second Class,Consumer,United States,San Francisco,California,94109,West,Technology,Phones,TEC-PH-10001949,170,210,3,3

#rename columns names ..make them lower case and replace space with underscore

In [33]:
# df.columns = df.columns.str.lower()
# df.columns=df.columns.str.replace(" ","_")
# df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

#derive new columns discount , sale price and profit

In [42]:
# df['discount'] = df["list_price"]*df["discount_percent"]*0.01
# df["sales_prices"] = df["list_price"] - df["discount"]
# df["profit"] = df["sales_prices"] - df["cost_price"]
# df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_prices,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [55]:
#convert order date from object data type to datetime
df["order_date"] = pd.to_datetime(df["order_date"],format = "%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sales_prices               float64
profit                     float64
dtype: object

#drop cost price list price and discount percent columns

In [56]:
# df.drop(columns=["list_price","cost_price","discount_percent"],inplace=True)

In [57]:
# df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_prices,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [63]:

# total quantity
df["quantity"].sum()

37873

In [64]:
# total profit
df["profit"].sum()

205168.7

In [65]:
# average of sales_price
df["sales_prices"].mean()

221.7189013408045

In [66]:
# average of profit
df["profit"].mean()

20.529187512507505

In [72]:
# total quantity of product sold ship_modee wise
df.groupby(["ship_mode"]).agg({"quantity":"sum"})

# First Class is on Top

                quantity
ship_mode
First Class         5693
Same Day            1960
Second Class        7423
Standard Class     22768

In [73]:
# total profit ship_mode wise
df.groupby(["ship_mode"]).agg({"profit": "sum"})

# First class give more profit

                  profit
ship_mode
First Class      30452.3
Same Day         10987.2
Second Class     41386.1
Standard Class  122005.1

In [76]:
# profit by segment wise 
df.groupby(["segment"]).agg({"profit": "sum"})
# consumer segment generate  more profit

               profit
segment
Consumer     101586.0
Corporate     65637.7
Home Office   37945.0

In [77]:
 # profit by region wise 
df.groupby(["region"]).agg({"profit": "sum"})
# west region is on top in term of profit

          profit
region
Central  46378.6
East     58220.0
South    38011.5
West     62558.6

In [78]:
# state wise profit
df.groupby(["state"]).agg({"profit" : "sum"})

                       profit
state
Alabama                1994.0
Arizona                3182.2
Arkansas               1187.1
California            40207.0
Colorado               2609.3
Connecticut            1161.6
Delaware               2227.3
District of Columbia    289.3
Florida                9791.1
Georgia                5048.4
Idaho                   355.2
Illinois               6684.8
Indiana                6336.5
Iowa                    463.1
Kansas                  175.5
Kentucky               3451.6
Louisiana               831.5
Maine                    69.9
Maryland               1652.5
Massachusetts          2766.4
Michigan               6819.5
Minnesota              3039.2
Mississippi             977.4
Missouri               1768.0
Montana                 650.5
Nebraska                628.5
Nevada                 1768.2
New Hampshire           344.5
New Jersey             3677.3
New Mexico              509.0
New York              25557.5
North Carolina         4701.4
North Dakota            127.7
Ohio                   6871.4
Oklahoma               2006.2
Oregon                 1242.7
Pennsylvania          10227.4
Rhode Island           2306.4
South Carolina          922.5
South Dakota             66.8
Tennessee              2768.0
Texas                 14946.9
Utah                    708.8
Vermont                 977.9
Virginia               6338.5
Washington            11169.7
West Virginia            90.6
Wisconsin              3315.9
Wyoming                 156.0

In [79]:
# category wise profit
df.groupby(["category"]).agg({"profit" : "sum"})

                  profit
category
Furniture        66480.7
Office Supplies  62254.5
Technology       76433.5

In [80]:
df.to_csv("ordersdata")